<% include ../partials/header %>

<!-- content area -->
		<div class="row">
			<div id="list" class="col-lg-12">
			<h1 class="page-header">
                            <small>Reports</small>
                        </h1>
				<ul>
					<% files.forEach(function(file) { %>
        					<li><a href="<%= cdn_host %><%= file %>"> <%= file.replace('logs/',''); %></a></li>
    					<% }); %>
				</ul>
			</div>
		</div>
<% include ../partials/footer %>
