<% include ../partials/header %>

<!-- content area -->
		<div class="row">
		    <div id="list" class="col-lg-9">
			   <h1 class="page-header">
                           	<small>ADVCP BOT - Enter report recipient</small>
	                   </h1>
                           <div class="panel-body">
                               <form role="form" method="post" id="bot" name="bot">
                                    <fieldset>
					<div class="form-group" id="email-error"></div>
                                        <div class="form-group" id="msg">
                                            <input class="form-control" id="email" required placeholder="E-mail recipient" data-error="Please enter your email" name="email" type="email" autofocus>
                                        </div>
                                        <a class="btn btn-lg btn-primary btn-block" id="btnRun">Run Bot</a>
                                        <br/>
					<div class="form-group">
						<p id="status"></p>
					</div>
                                    </fieldset>
                                </form>
                          </div>
		     </div>
		</div>
<% include ../partials/footer %>
