<% include ../partials/header %>

<!-- content area -->
		<div class="row">
		    <div id="list" class="col-lg-9">
			   <h1 class="page-header">
                           	<small>ADVCP BOT</small>
	                   </h1>
                           <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label style="font-weight: 400" for="src">Data Source</label>
                                        <select class="form-control" name="src" id="src">
                                            <option value="file">File</option>
                                            <option value="db">Database</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label style="font-weight: 400" for="src">User Agent (Browser)</label>
                                        <select class="form-control" name="ua" id="ua">
                                        <% Object.keys(uas).forEach(function(u) { %>
                                            <option value="<%= u %>"><%= u %></option>
    					<% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div style="clear:both" /><br/>
                                <!-- db options -->
                                <div class="form-group" style="display: none" id="dbContainer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label style="font-weight: 400" for="offset">Offset (Start Position)</label>
                                        <input class="form-control" name="offset" id="offset" value="0" />
                                    </div>
                                    <div class="col-md-6">
                                        <label style="font-weight: 400" for="limit">Limit (Number of Records)</label>
                                        <input class="form-control" name="limit" id="limit" value="1000" />
                                    </div>
                                </div>
                                </div>
                                <!-- upload form -->
                                <div class="form-group" id="chkContainer">
                                    <input type="checkbox" id="chkUpload" name="chkUpload" /> <label style="font-weight: 400" for="chkUpload">Upload Feed</label>
                                </div>
                                <div style="display:none" class="form-group" id="uploadFormCont">
                                    <form role="form" id="uploadForm" name="uploadForm" enctype="multipart/form-data" action="/upload/feed" method="post">
                                        <h6>Feed Format (CSV): AccountID, AccountName, CampaignName, AdGroupName, UserName, Code, DestinationURL</h6>
                                        <input type="file" id="file" class="form-control upload" name="feed" placeholder="Select a feed to upload" />
                                        <div id="upstatus"></div>
                                        <input id="btnUpload" type="submit" class="btn btn-primary" value="Upload Feed" name="submit" />
                                    </form>
                                </div>
                                <div class="form-group" id="recipientForm">
                                    <form role="form" method="post" id="bot" name="bot">
                                        <div class="form-group" id="email-error"></div>
                                        <div class="form-group" id="msg">
                                            <input class="form-control" id="email" required placeholder="E-mail recipient" data-error="Please enter your email" name="email" type="email" autofocus>
                                        </div>
                                        <a class="btn btn-lg btn-primary btn-block" id="btnRun">Run Bot</a>
                                        <div class="form-group">
                                            <pre style="display:none" id="botstatus"></pre>
                                        </div>
                                    </form>
                                </div>
                          </div>
		     </div>
		</div>
                
<% include ../partials/footer %>
